.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home img {
  width: 65vw;
  display: block;
  margin: 4rem auto 0;
}

.home h3 {
  color: #fbfafa;
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto 1rem;
}

.home p {
  font-size: 1.5rem;
  text-align: center;
  color: #fbfafa;
  margin-top: 1.5rem;
}

.home-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
