input[type="file"] {
  position: absolute;
  /* width: 40px; */
  /* height: 1px; */
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 600px, 20px, 120px);
  border: 0;
}

.divider {
  height: 25px;
}

.custom-file-upload {
  border: 2px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  padding: 7px 12px;
  text-align: center;
  cursor: pointer;
}
